In [1]:
import matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from arcgis.gis import GIS
from arcgis.features import GeoAccessor, GeoSeriesAccessor
gis = GIS()

In [3]:
from arcgis.geocoding import geocode

In [14]:
#gis = GIS("pro")

# Create a profile

In [4]:
df = pd.read_excel("C:/Users/mahna/Ironhack/Week9/data/Seattle-housing-regression_data.xls")

In [5]:
df

               id       date  bedrooms  ...  sqft_living15  sqft_lot15   price
0      7129300520 2014-10-13         3  ...           1340        5650  221900
1      6414100192 2014-12-09         3  ...           1690        7639  538000
2      5631500400 2015-02-25         2  ...           2720        8062  180000
3      2487200875 2014-12-09         4  ...           1360        5000  604000
4      1954400510 2015-02-18         3  ...           1800        7503  510000
...           ...        ...       ...  ...            ...         ...     ...
21592   263000018 2014-05-21         3  ...           1530        1509  360000
21593  6600060120 2015-02-23         4  ...           1830        7200  400000
21594  1523300141 2014-06-23         2  ...           1020        2007  402101
21595   291310100 2015-01-16         3  ...           1410        1287  400000
21596  1523300157 2014-10-15         2  ...           1020        1357  325000

[21597 rows x 21 columns]

In [6]:
df1 = pd.DataFrame.spatial.from_xy(df, 'long','lat')

In [7]:
property_map = gis.map('Seattle, WA')
property_map.basemap = 'streets'
property_map

MapView(layout=Layout(height='400px', width='100%'))

In [11]:
df1.spatial.plot(map_widget=property_map)

True

# Heatmap

In [9]:
density_map = gis.map('Seattle, WA')
density_map.basemap='gray'
density_map

MapView(layout=Layout(height='400px', width='100%'))

In [13]:
df1.spatial.plot(map_widget=density_map, renderer_type='h')

True